.places {
    margin: 0 auto 92px;
    padding: 0;
    max-width: 984px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 80px;
}

@media (max-width: 1024px) {
    .places {
        max-width: 928px;
    }
}

@media (max-width: 768px) {
    .places {
        margin-top: 88px;
        margin-bottom: 65px;
        max-width: 720px;
        row-gap: 73px;
    }
}

@media (max-width: 320px) {
    .places {
        margin-top: 63px;
        margin-bottom: 41px;
        max-width: 320px;
        gap: 50px 0;
    }
}