.place__image {
    margin: 0;
    padding: 0;
    max-height: 460px;
    max-width: 460px;
    grid-row: 2/-1;
    grid-column: 1/2;
    object-position: center center;
}

@media (max-width: 1024px) {
    .place__image {
        max-height: 100%;
        max-width: 440px;
    }
}

@media (max-width: 768px) {
    .place__image {
        width: 340px;
    }
}

@media (max-width: 730px) {
    .place__image {
        max-width: 100%;
    }
}

@media (max-width: 500px) {
    .place__image {
        grid-row: 3/4;
        grid-column: 1;
    }
}

@media (max-width: 320px) {
    .place__image {
        width: 100%;
        min-height: 320px;
    }
}