.place__paragraphs {
    margin: 0 auto;
    padding: 0;
    max-width: 484px;
    grid-row: 2/-1;
    grid-column: 2/-1;
    z-index: 1;
}

@media (max-width: 1024px) {
    .place__paragraphs {
        max-width: 456px;
    }
}

@media (max-width: 768px) {
    .place__paragraphs {
        max-width: 352px;
    }
}

@media (max-width: 500px) {
    .place__paragraphs {
        max-width: calc(100vw - 55px);
        grid-row: 4/-1;
        grid-column: 1;
    }
}


@media (max-width: 320px) {
    .place__paragraphs {
        max-width: 288px;
    }
}