.intro {
    margin: 0 auto;
    padding: 0;
    max-width: 984px;
    max-height: 429px;
    display: flex;
    flex-direction: column;
    margin-top: 92px;
    margin-bottom: 92px;
}

@media (max-width: 1024px) {
    .intro {
        max-width: 928px;
        max-height: 429px;
    }
}

@media (max-width: 768px) {
    .intro {
        max-width: 720px;
        margin-top: 88px;
        margin-bottom: 88px;
    }
}

@media (max-width: 320px) {
    .intro {
        max-width: 288px;
        max-height: 754px;
        margin-top: 64px;
        margin-bottom: 64px;
    }
}