.intro {
    margin: 0 auto;
    padding: 0;
    max-width: 984px;
    display: flex;
    flex-direction: column;
    margin-top: 92px;
    margin-bottom: 92px;
    word-break: break-word;
}

@media (max-width: 1024px) {
    .intro {
        max-width: 928px;
    }
}

@media (max-width: 768px) {
    .intro {
        max-width: 720px;
        margin-top: 88px;
        margin-bottom: 87px;
    }
}

@media (max-width: 500px) {
    .intro {
        width: calc(100vw - 50px);
        margin-top: 64px;
        margin-bottom: 64px;
    }
}

@media (max-width: 320px) {
    .intro {
        width: calc(100vw - 32px);
    }
}