.place__link {
    margin: 0;
    padding: 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-decoration-line: underline;
    color: #FFFFFF;
    cursor: pointer;
    z-index: 1;
}

.place__link:hover {
    opacity: .5;
}