.cover__title {
    margin: 245px auto 32px;
    max-width: 560px;
    max-height: 152px;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
}

@media (max-width: 1024px) {
    .cover__title {
        margin-top: 195px;
    }
}

@media (max-width: 730px) {
    .cover__title {
        width: calc(100vw - 32px);
        font-size: calc(25vh - 100px);
        line-height: calc(25vh - 100px);
    }
}

@media (max-width: 500px) {
    .cover__title {
        width: calc(100vw - 100px);
        font-size: calc(32vw - 100px);
        line-height: calc(32vw - 100px);
    }
}  

@media (max-width: 375px) {
    .cover__title {
        width: calc(100vw - 100px);
        font-size: calc(37vw - 100px);
        line-height: calc(37vw - 100px);
    }
}  

@media (max-width: 320px) {
    .cover__title {
        margin: 33px auto 16px;
        width: 288px;
        max-height: auto;
        font-size: 32px;
        line-height: 35px;
    }
}