.cover__title {
    margin: 245px auto 32px;
    max-width: 560px;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
}

@media (max-width: 1024px) {
    .cover__title {
        margin-top: 195px;
    }
}

@media (max-width: 768px) {
    .cover__title {
        width: 560px;
        font-size: 72px;
        line-height: 76px;
        margin-top: 115px;
    }
}

@media (max-width: 730px) {
    .cover__title {
        width: calc(100vw - 32px);
        font-size: calc(15vw / 2);
        line-height: calc(15vw / 2);
    }
}

@media (max-width: 500px) {
    .cover__title {
        width: calc(100vw - 100px);
        font-size: calc(15vw / 2);
        line-height: calc(15vw / 2);
    }
}  

@media (max-width: 375px) {
    .cover__title {
        width: calc(100vw - 100px);
        font-size: calc(15vw / 2);
        line-height: calc(15vw / 2);
    }
}  

@media (max-width: 320px) {
    .cover__title {
        margin-bottom: 16px;
        margin-top: 33px;
        width: 288px;
        font-size: 32px;
        line-height: 35px;
    }
}