.intro__title {
    margin: 0;
    padding: 0;
    font-weight: 900;
    font-size: 54px;
    line-height: 58px;
    z-index: 1;
}

@media (max-width: 350px) {
    .intro__title {
        font-size: calc(20vw / 2);
        line-height: calc(20vw / 2);
    }
}


@media (max-width: 320px) {
    .intro__title {
        width: 230px;
        font-size: 32px;
        line-height: 35px;
    }
}